.pin{
  background-color: #FF8C00;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.65em;
  line-height: 1.65em;
  border: 2px solid red;
  cursor: pointer;
}
.pinHover{
  background-color: #FF8C00;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.65em;
  line-height: 1.65em;
  border: 2px solid blue;
  cursor: pointer;
}
.pinSelected{
  background-color: #FFF;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.65em;
  line-height: 1.65em;
  border: 2px solid blue;
  cursor: pointer;
}
.price1{
  background-color: #CCFF33;
}
.price2{
  background-color: #66FF66;
}
.price3{
  background-color: #33FF66;
}
.price4{
  background-color: #00FF66;
}
.price5{
  background-color: #339900;
}
