.fieldsContainer {
  width: 600px;
  position: absolute;
  height: 50px;
  top: 30px;
  background-color: white;
  left: 100px;
  z-index: 100;
}
.geosuggest{
  width: 185px;
  margin-left: 20px;
  display: inline-block;
}
.inputField{
  width: 100px;
  margin-left: 30px;
  display: inline-block;
}
.inputFieldDate{
  width: 100px;
  margin-left: 30px;
  display: inline-block;
}
